html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#maincontainer {
  height: 100%;
  width: 100%;
}

#canvasdiv {
    width: 100%;
    height: 100%;
    position: absolute;
}

#checkboxdiv {
    left:0px;
   bottom:0px;
   margin: 5px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 1px;
    position: fixed;
    background-color:#fafafa;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888888;
}


#canvas {
    width: 100%;
    height: 100%;
}

input {
    margin: 20px;
    font-size: 28px;
    color: blue;
}